@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');



.main-header {
    background: linear-gradient(rgba(238, 10, 78, 0.6), rgba(13, 187, 178, 0.6)),
url("https://source.unsplash.com/b6pqIe5eFh8");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 99vh;
    font-family: 'dosis', sans-serif;
    position: relative;
    overflow: hidden;
}

.main-nav ul {
    display: flex;
    background: linear-gradient(rgba(0, 69, 218, 0.6), rgba(67, 10, 151, 0.6));
    width: 900%;

}
.main-nav1 {
    display: flex;
    background: linear-gradient(rgba(0, 69, 218, 0.6), rgba(67, 10, 151, 0.6));
    width: 900%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 9px 34px;
    font-size: 1.2rem;
    color:  rgb(87, 231, 4);
}

.main-header {
    
    background: linear-gradient(rgba(0,0,0,0.6), rgba(247, 247, 247, 0.6)),
url("https://source.unsplash.com/b6pqIe5eFh8");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 99vh;
    font-family: 'dosis', sans-serif;
    position: relative;
    overflow: hidden;
}

.menu{
    display: flex;
    background-color: #1A202C;
    color: #fff;
    height: 70px;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 9px 34px;
    font-size: 1.2rem;
    color: rgb(224, 221, 6);
}
ul {
    margin-left: left;
    margin-right: 100px;
}


ul li a {
    display: flex;
    padding: 28px 40px; 
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}
ul li a:hover {
    display: flex;
    background:rgb(2, 226, 189);
}
.content-header {
    color: rgb(206, 203, 16);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.content1-header {
    color: rgb(16, 212, 32);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content-header h1 {
    font-size: 7rem;
}

.content-header p {
    font-size: 1.5rem;
    margin: 15px 30px;
}
.content-header a {
    font-size: 1.2rem;
    display: inline-block;
    padding: 15px 30px;
    background: rgb(166, 255, 0);
    color: rgb(0, 0, 0);
}

.content-header a:hover {
    background:rgb(235, 60, 7);
    border: 2px solid rgb(240, 240, 240);
    padding: 13px 28px;
}

.linea2,.linea22 {
    position: absolute;
    width: 40px;
    height: 130%;
    background: rgb(9, 202, 122);
    right: 10%;
    top: -50px;
    transform: rotate(15deg);
    background-image: linear-gradient(to right top, #1a355c, #005d8a, #008696, #00ab77, #6bc939);
} 

.linea2 {
    right: 13%;
}


.imagen {
    width: 80%;
    height: 110%;
    padding: 1px;
}

.anzuelo {
    border-color: rgb(5, 236, 159);
}
.tabla {
    border-color: red;
    text-align: center;
}

.galeria {

    margin: 10px 20px;
    text-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0  rgba(0,0,0,0,19);
    float: left;
    width: 200px;
}

div.galeria img{
    width: 90%;
    height: auto;
}

div.galeria:hover{
    
    border: 1px solid lightcoral;
    transform: rotate(-2deg);
}
div.pie{
    text-align: left;
    display: flex;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}
.div1 {
    float: left;
    margin: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}



.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__links{
    height: 100%;
    transition: transform .2s;
    display: flex;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
    --transform: rotate(0);
}

.menu__link:hover{
    background-color: #5e7094;
}


.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: rgb(8, 211, 247);
}

.menu__link--inside{
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover{
    background-color: #798499;
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}

@media (max-width:800px){
    .menu__hamburguer{
        display: flex;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show{
        background-color: var(--background);
    }


    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: rgb(3, 90, 219);
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}
